SSTP_EGRESS_IMAGE=docker.io/your-namespace/sstpproxy-sstp-egress:latest
TELEGRAM_PROXY_IMAGE=docker.io/your-namespace/sstpproxy-telegram-proxy:latest
CONTROL_PLANE_IMAGE=docker.io/your-namespace/sstpproxy-control-plane:latest

SSTP_IMAGE_TAG=latest
SSTP_IMAGE_DIGEST=sha256:4afc497feee97bbcc9f2fe80f86bc086e8d9d9ad4757071928fe6ec8cdbd7fd8
XRAY_VERSION=v26.3.27
