{
  "v": "2",
  "ps": "{{ .Label }}",
  "add": "{{ .Host }}",
  "port": "{{ .Port }}",
  "id": "{{ .UUID }}",
  "aid": "0",
  "scy": "none",
  "net": "tcp",
  "type": "none",
  "host": "",
  "path": "",
  "tls": "reality",
  "sni": "{{ .ServerName }}",
  "fp": "{{ .Fingerprint }}",
  "pbk": "{{ .PublicKey }}",
  "sid": "{{ .ShortID }}",
  "flow": "{{ .Flow }}",
  "allowInsecure": false,
  "share_link": "{{ .URI }}"
}
